<html>
  <head>
    <title>Design guide</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <style>
      {{#each properties}}
      .{{name}} {
        background: {{ hex }};
      }
      {{/each}}
    </style>
  </head>  
  <body>
    <div class="wrapper">
      <div class="colors">
        <aside>
          <h2>Colors</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus placeat, quod maiores reiciendis, vel unde eum rerum voluptates incidunt velit explicabo amet odio dolor illum minima neque cumque id. Omnis.</p>
        </aside>
        <ul>
          {{#each properties}}
            <li class="color">
              <div class="color-blob {{ name }}"></div>
              <div>RGB: <span>{{ rgb }}</span></div>
              <div>Hex: <span>{{ hex }}</span></div>
            </li>
          {{/each}}
        </ul>        
      </div>
    </div>
  </body>
</html>